.collection-item {
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.material-icons {
  cursor: pointer;
  margin-right: 5px;
}

.vote-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
